body {
    background-color: #DEF5E5;
    margin:0px;
    border:0px;
    padding: 0px;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px, 20px;
    text-decoration: none;
}

a:hover {
    color:#EAF6F6;
}

div {
    display: block;
    margin:10;
    padding: 10px;
}

h1 {
    margin-top: 0;
    border:0px;
    padding: 0px;
    text-align: center;
    vertical-align: center;
    font-size: 600%;
    color: #62B6B7;
    font-family: 'Sacramento', serif;
}

h2 {
    font-family: 'Montserrat', serif;
    font-weight: normal; 
}

h3 {
    font-family: 'Merriweather', serif;
}

hr {
    border: dotted #E4F9F5 6px;
    border-bottom: none;
    width: 10%;
    margin: 30px auto 30px auto;
}

p {
    margin:10px auto 10px auto;
    border:1px;
    padding: 0px;
    line-height: 2;
    text-align: center;
    font-family: tahoma, sans-serif;  
}
.center_table {
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
table {
    border-width: "2";
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
}
/*****************Container Identifiers************************************/
.top-container {
    background-color: #BCEAD5;
    position: relative;
    padding-top: 100px;
  }

.middle_container {
    display: block;
    background-color: #82C3EC;
    position: relative;
}

.profile {
    display: block;
    background-color: #BCEAD5
    position: relative;
}
.bottom_container {
    display: block;
    background-color: #DEF5E5;
    position: relative;
}

.skills {
    display: block;
    background-color: #9ED5C5;
}

.skill-row {
    display: block;
    background-color: #9ED5C5;
}
.contact-me {
    display: block;
    background-color: #9ED5C5;
}
.btn {
      font-family: 'Merriweather', serif;
    }


/*****************Container Identifiers************************************/

.footer-link{
    text-align: center;
    vertical-align: center;
    font-size: 100%;
    color: #62B6B7;
    font-family: 'Montserrat', serif;
}

/*****************Button******************************/
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:10px auto 10px auto;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }